input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}

.avatar-xl {
  --tblr-avatar-size: 8rem;
}

.info-product {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Helvetica Neue', Arial, sans-serif;
  empty-cells: show;
  padding: 2px;
  font-size: 11px;
  line-height: 1.6;
  font-weight: 400;
  color: #fff;
  border-radius: 2px;
  background: #212529;
  white-space: nowrap;
  opacity: 0.9;
}

.info-product > span {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-left: 2px;
  margin-right: 4px;
  border-radius: 50%;
  vertical-align: baseline;
}

.noUi-tooltip {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Helvetica Neue', Arial, sans-serif;
  empty-cells: show;
  font-size: 11px;
  line-height: 1;
  font-weight: 700;
  color: #fff;
  border-radius: 3px;
  background: #212529;
  white-space: nowrap;
  opacity: 0.9;
  z-index: -9999 !important;
}

.noUi-active > .noUi-tooltip {
  z-index: 9999 !important;
}

.dropdown-menu-language-center {
  left: 50% !important;
  right: auto !important;
  text-align: center !important;
  transform: translate(-50%, 35%) !important;
}
